body {
    margin: o; 
    margin-top: 50%; 
} 

header {
    display: flex;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    height: 50px;
    line-height: 50px; 
    background-color: #eee;

} 

header * {
    display: inline; 
    height: 50px;

} 

header ul {
    margin-left: 20px;
} 

